html, body {
    margin: 0;
    padding: 0;
    height: 125%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #e3e4e6, #cfd9df, #a6acb1, #8d99ae, #464673);
    line-height: 1.65;
    padding-bottom: 100px;
}

.container-satu {
    width: 990px;
    margin: 30px auto;
    background: linear-gradient(135deg, #ffffff, #f2f2f2); 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    text-align: justify; 
    

}

.sidebar-satu{
    margin-left: 5px;
    margin-right: 50px;
    max-width: 50%;
    min-width: 130px;
}

.sidebar-dua {
    margin-left: 10px;
}

.styled-link {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.styled-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #0077cc;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.styled-link:hover {
    color: #004499;
}

.styled-link:hover::after {
    transform: scaleX(1);
}

